div {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
  text-align: right;
}

.border-box{
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
    
